.annexe {
    margin-bottom: 20vh;

    &__title {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        margin: 0;
        padding-top: 84px;
        margin-bottom: 84px;
        color: $c-text;
        font-weight: 800;
        font-size: 47px;
        line-height: 63px;
    }

    &__border {
        width: 100%;
        height: 1px;
        border-radius: 5px;
        background-color: #fff;
    }

    &__h2 {
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        color: $c-text;
        margin-top: 84px;
        margin-bottom: 63px;
        font-size: 27px;

        &--test {
            display: none;
        }
    }

    &__button {
        width: 15vw;
        height: 15vw;
        background-image: url("../assets/images/play.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s;
        border: none;
        background-color: transparent;
    }

    &__img {
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    &__jeu {
        display: none;
        grid-template-columns: repeat(5, 15vw);
        grid-template-rows: repeat(5, 15vw);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0 auto;
        margin-top: 10vh;
        justify-content: center;
    }

    &__grid {

        &--1 {
            grid-area: 1 / 1 / 3 / 3;
        }

        &--2 {
            grid-area: 1 / 4 / 3 / 6;
        }

        &--3 {
            grid-area: 4 / 1 / 6 / 3;
        }

        &--4 {
            grid-area: 4 / 4 / 6 / 6;
        }

        &--5 {
            grid-area: 3 / 3 / 3 / 3;
        }
    }

    &__buttonImg {
        padding: 0;
        border: none;
        background-color: transparent;
    }

    &__result {
        display: none;
        margin-top: 15vh;
    }

    &__text {
        color: #ffffff;
        font-family: "Manrope", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: $c-text;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 0;

        &:nth-child(1) {
            font-size: 20px;
            font-weight: 800;
        }
    }

    &__instructions {
        margin-bottom: 20vh;

        & .annexe__buttonNext {
            display: flex;
            margin: 0 auto;
            margin-top: 63px;
        }
    }

    &__instructionsText {
        font-family: "Manrope", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: $c-text;
        font-size: 15px;

        &--block {
            display: block;
            margin-top: 15px;
        }
    }

    &__scoreBest {
        margin-top: 20px;
    }

    &__score {
        margin-top: 47px;
    }

    &__buttonNext {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        z-index: 1;
        color: white;
        width: fit-content;
        padding-bottom: 12px;
        overflow: hidden;
        padding: 10px 25px;
        position: relative;
        z-index: 2;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
        margin-top: 63px;


        &--anim {
            font-family: "Manrope", sans-serif;
            background: transparent;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            font-size: 15px;
        }

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            z-index: -1;
            background: rgb(255, 255, 255);
            transition: all 0.3s ease;
        }

        &:hover:after {
            top: auto;
            bottom: 0;
            height: 100%;
        }

        &:hover {
            color: black;
        }
    }
}

.correct-answer {
    border: 2px solid rgb(0, 255, 0);
}

.incorrect-answer {
    border: 2px solid red;
}


@media (min-width : 750px) {
    .annexe {
        &__title {
            padding-top: 165px;
            margin-bottom: 123px;
            font-size: 93px;
            line-height: 112px;
        }

        &__border {
            height: 2px;
        }

        &__h2 {
            margin-top: 84px;
            margin-bottom: 63px;
            font-size: 36px;
        }

        &__text {
            font-size: 22px;

            &:nth-child(1) {
                font-size: 27px;
            }
        }

        &__buttonNext {
            padding: 15px 25px;
            padding-bottom: 17px;
            font-size: 20px;
            margin-top: 69px;
        }

        &__instructions {
            display: flex;
            justify-content: space-around;
        }

        &__instructionsText {
            font-size: 20px;
            max-width: 40%;
            letter-spacing: 1px;

        }

        &__jeu {
            margin-top: 20vh;
        }

        &__scoreBest {
            margin-top: 22px;
        }

        &__score {
            margin-top: 52px;
        }
    }

    .correct-answer {
        border-width: 3px;
    }

    .incorrect-answer {
        border-width: 3px;
    }
}


@media (min-width : 1200px) {
    .annexe {
        &__title {
            padding-top: 165px;
            margin-bottom: 52px;
            position: relative;
            font-size: 93px;
        }

        &__border {
            margin: 0;
            width: 33%;
        }

        &__h2 {
            margin-top: 123px;
            margin-bottom: 93px;
            font-size: 52px;
        }

        &__button {
            width: 7vw;
            height: 7vw;
        }

        &__img {
            border-radius: 7px;
            width: 14vw;
        }

        &__jeu {
            margin-bottom: 123px;
            grid-template-columns: repeat(5, 7vw);
            grid-template-rows: repeat(5, 7vw);
        }

        &__text {
            font-size: 29px;

            &:nth-child(1) {
                font-size: 39px;
            }
        }

        &__scoreBest {
            margin-top: 29px;
        }


        &__buttonNext {
            padding: 15px 25px;
            padding-bottom: 17px;
            font-size: 22px;
            margin-top: 123px;
        }

        &__instructions {
            margin-top: 123px;
            margin-bottom: 123px;
        }

        &__instructionsText {
            font-size: 22px;
            width: 30%;
        }
    }
}