.contact {
    &__border {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: #FFF;
    }

    &__h2 {
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        color: $c-text;
        margin-top: 84px;
        margin-bottom: 63px;
    }

    &__list {
        padding: 0;
    }

    &__text {
        font-family: "Viga", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $c-text;
        font-size: 15px;
    }

    &__text {
        margin-bottom: 36px;
    }

    &__adresse,
    &__name {
        font-family: "Viga", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $c-text;
        font-size: 15px;
    }

    &__adresse {
        margin-bottom: 36px;

        a {
            color: $c-text;
            text-decoration: none;
        }
    }

    &__reseau {
        display: flex;
        margin-bottom: 84px;
        max-width: 40%;
        justify-content: space-between;
        padding: 0;
    }

    &__img {
        height: 20px;
    }

    &__copyright {
        font-family: "manrope", sans-serif;
        font-weight: 400;
        color: $c-text;
        font-size: 11px;
        text-align: center;
        margin-bottom: 20px;

        a {
            color: $c-text;
        }


    }

    &-desktop {
        display: none;
    }
}

li {
    list-style: none;
}

@media (min-width : 750px) {
    .contact {
        &__border {
            height: 3px;
        }

        &__h2 {
            margin-top: 84px;
            margin-bottom: 63px;
            font-size: 36px;
        }

        &__text {
            font-size: 20px;
        }

        &__adresse,
        &__name {
            font-size: 20px;
        }

        &__adresse {
            margin-bottom: 36px;
        }

        &__reseau {
            max-width: 30%;
        }

        &__img {
            height: 27px;
        }

        &__copyright {
            font-size: 20px;
        }

    }

}

@media (min-width : 1200px) {
    .contact {
        &-mobile {
            display: none;
        }

        &-desktop {
            display: block;
        }

        &__list {
            display: flex;
            flex-direction: column;

            &--top {
                margin: 0;
                padding: 0;
                margin-bottom: 219px;
            }

            &--bottom {
                display: flex;
                justify-content: space-between;
                width: 50vw;
                padding: 0;
                margin: 0;
                align-items: flex-end;
                margin-bottom: 69px;
            }
        }

        &__adresse {
            margin: 0;
        }

        &__border {
            width: 33%;
        }

        &__h2 {
            margin-top: 123px;
            margin-bottom: 93px;
            font-size: 52px;
        }

        &__text {
            font-size: 22px;
            width: 50%;
        }

        &__adresse,
        &__name {
            font-size: 22px;
        }

        &__reseau {
            width: 25%;
            margin: 0;
            padding: 0;
        }

        &__img {
            height: 29px;
            margin-right: 22px;
        }

        &__copyright {
            font-size: 17px;
            margin: 0;

            a {
                color: $c-text;
            }
        }

    }

}