.home {
    margin-bottom: 30vh;

    &__title {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        margin: 0;
        margin-top: 152px;
        margin-bottom: 112px;
        color: $c-text;

        &--extralight {
            font-size: 20px;
            font-weight: 100;
        }

        &--extrabold {
            font-size: 27px;
            font-weight: 800;
        }

    }



    &__text {
        font-family: "Viga", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: $c-text;

        &--moi {
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
        }

        &--cyan {
            color: $c-cyan;
        }

        &--portfolio {
            padding: 0;
            margin: 0;
        }
    }
}

@media (min-width : 1200px) {
    .home {
        &__title {
            margin-top: 165px;
            margin-bottom: 69px;

            &--extralight {
                font-size: 69px;
            }

            &--extrabold {
                font-size: 93px;
            }

        }

        &__text {
            font-size: 29px;
            float: right;
            width: 45%;

            &--moi {
                margin-bottom: 29px;
            }
        }
    }

    .scroll-downs {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        margin-top: 350px;
        width: 34px;
        height: 55px;
    }

    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #ffffff;
        border-radius: 25px;
        opacity: 0.75;
    }

    .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #ffffff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;
    }

    @keyframes scroll {
        0% {
            opacity: 0;
        }

        10% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(15px);
            opacity: 0;
        }
    }
}

@media (min-height: 1000px) {
    .home {
        &__title {
            margin-top: 196px;
            margin-bottom: 145px;

        }

        &__text {
            width: 45%;
        }
    }

    .scroll-downs {
        margin-top: 375px;
    }
}