header {
    background-color: $c-bg;
    width: 100vw;
}

.header {
    &--sticky {
        position: fixed;
        top: -100px;
        width: 100%;
        transition: top 0.3s;
        z-index: 1000;
        border-bottom: solid 2px #fff;
        width: 100vw;

        &.visible {
            top: 0;
            width: 100vw;
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $c-bg;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;

    &.active {
        transform: translateY(0);
    }

    &--toggle {
        position: absolute;
        right: 20px;
        z-index: 20;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: auto 0;
        padding: 0;
        margin-bottom: 0;
    }

    &__el {
        font-family: "Zen Dots", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        color: $c-text;
        padding: 46.5px;

        a {
            color: $c-text;
            text-decoration: none;
        }
    }
}

body.menu--open,
html.menu--open {
    overflow: hidden;
}

.nav {
    &__logo {
        width: 29px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 30;
    }

    &--desktop {
        display: none;
    }

    &--mobile {
        display: flex;
        align-items: center;
        width: 100vw;
        justify-content: space-between;
    }
}

.menu--toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    z-index: 30;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: $c-text;
    margin: 3px 0;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 3px;
}

.overflow-hidden {
    overflow: hidden;
}

.menu--toggle.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu--toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu--toggle.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media (min-width:750px) {


    .header {
        &--sticky {
            border-bottom: solid 3px #fff;
        }
    }

    .menu {

        &--toggle {
            right: 36px;
        }

        &__el {
            font-size: 36px;
        }
    }

    .nav {
        &__logo {
            width: 36px;
            margin-top: 27px;
            margin-left: 27px;
            margin-bottom: 27px;

        }
    }

    .bar {
        width: 36px;
        height: 4px;

    }
}


@media (min-width: 1200px) {
    header {
        width: 100%;
        height: 96px;
        display: flex;
        box-sizing: border-box;
        padding-left: 69px;
        padding-right: 69px;
    }

    .nav {
        width: 100vw;
        height: 96px;
        background-color: $c-bg;

        &--desktop {
            display: flex;
            align-items: center;
            width: 100vw;
            justify-content: space-between;
        }

        &--mobile {
            display: none;
        }

        &__list {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
        }

        &__el {
            font-family: "Zen Dots", sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 22px;
            color: $c-text;
            margin: 0;
            display: flex;
            margin-left: 69px;

            a {
                color: $c-text;
                text-decoration: none;
            }
        }

        &__logo {
            width: 31px;
            margin: auto;
        }
    }
}