.projets {
    &__mobile {
        display: block;
    }

    &__desktop {
        display: none;
    }

    &__border {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #fff;
    }

    &__h2 {
        font-family: "Orbitron", sans-serif;
        font-style: normal;
        color: $c-text;
        margin-top: 20px;
        margin-bottom: 84px;
    }

    &__img {
        width: 60%;
        border-radius: 25px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    &__description {
        margin-top: 20px;
        margin-bottom: 84px;
        font-family: "Viga", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $c-text;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




@media (min-width : 1200px) {


    .projets {


        &__mobile {
            display: none;
        }

        &__desktop {
            display: block;
            margin-bottom: 30vh;
        }

        &__border {
            width: 33%;
        }

        &__h2 {
            margin-top: 39px;
            margin-bottom: 93px;
            font-size: 39px;
        }


        &__img {
            width: 20vw;
        }

        &__description {
            margin-top: 22px;
            font-size: 22px;
        }

        &__linktab {

            padding: 0;
            max-width: 30%;
            display: flex;
            justify-content: space-between;
            margin: auto;
            margin-bottom: 29px;
        }
    }

    li {
        list-style: none;
    }

    .hidden {
        display: none;
    }

    .linktab {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        color: $c-text;
        text-decoration: none;
        border: none;
        font-weight: 600;
        background: none;
        padding: 0;

        &::before {
            margin-left: auto;
        }

        &--active {
            content: '';
            width: 100%;
            height: 2px;
            background: $c-cyan;
            display: block;
            transition: width 0.5s;
            //border-top: solid 2px $c-cyan;
            //border-bottom: solid 2px $c-cyan;
            //color: $c-text;
            //pointer-events: none; // Empêche le hover sur le bouton actif
        }

        &::after,
        &::before {
            content: '';
            width: 0%;
            height: 2px;
            background: $c-cyan;
            display: block;
            transition: width 0.5s;
        }

        &:hover:not(.linktab--active)::after,
        &:hover:not(.linktab--active)::before {
            width: 100%;
        }
    }

}