.contact__border {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #FFF;
}
.contact__h2 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 84px;
}
.contact__list {
  padding: 0;
}
.contact__mail, .contact__phone {
  font-family: "manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  font-size: 15px;
}
.contact__phone {
  margin-bottom: 36px;
}
.contact__adresse, .contact__name {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  font-size: 15px;
}
.contact__adresse {
  margin-bottom: 36px;
}
.contact__reseau {
  display: flex;
  margin-bottom: 84px;
  max-width: 40%;
  justify-content: space-between;
  padding: 0;
}
.contact__img {
  height: 20px;
}
.contact__copyright {
  font-family: "manrope", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}
.contact__copyright a {
  color: #FFFFFF;
}
.contact-desktop {
  display: none;
}

li {
  list-style: none;
}

@media (min-width: 1200px) {
  .contact-mobile {
    display: none;
  }
  .contact-desktop {
    display: block;
  }
  .contact__list {
    display: flex;
    flex-direction: column;
  }
  .contact__list--top {
    margin: 0;
    padding: 0;
    margin-bottom: 219px;
  }
  .contact__list--bottom {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    margin-bottom: 69px;
  }
  .contact__phone {
    margin: 0;
  }
  .contact__adresse {
    margin: 0;
  }
  .contact__border {
    width: 33%;
  }
  .contact__h2 {
    margin-top: 39px;
    margin-bottom: 93px;
    font-size: 39px;
  }
  .contact__mail, .contact__phone {
    font-size: 22px;
  }
  .contact__adresse, .contact__name {
    font-size: 22px;
  }
  .contact__reseau {
    width: 15vw;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .contact__img {
    height: 29px;
  }
  .contact__copyright {
    font-size: 17px;
    margin: 0;
  }
  .contact__copyright a {
    color: #FFFFFF;
  }
}
header {
  background-color: #02070E;
  width: 100vw;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #02070E;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}
.menu--toggle {
  position: absolute;
  right: 20px;
  z-index: 20;
}
.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto 0;
  padding: 0;
  margin-bottom: 0;
}
.menu__el {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #FFFFFF;
  padding: 46.5px;
}
.menu__el a {
  color: #FFFFFF;
  text-decoration: none;
}

.menu--open .menu {
  transform: translateX(0);
}

.nav__logo {
  width: 29px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 30;
}
.nav--desktop {
  display: none;
}
.nav--mobile {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.menu--toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  z-index: 30;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 3px 0;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 3px;
}

.overflow-hidden {
  overflow: hidden;
}

.menu--toggle.active {
  position: fixed;
}

.menu--toggle.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu--toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu--toggle.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (min-width: 1200px) {
  header {
    width: 100%;
    height: 96px;
    display: flex;
    box-sizing: border-box;
    padding-left: 69px;
    padding-right: 69px;
  }
  .nav {
    width: 100vw;
    height: 96px;
    background-color: #02070E;
  }
  .nav--desktop {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
  }
  .nav--mobile {
    display: none;
  }
  .nav__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .nav__el {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    margin-left: 69px;
  }
  .nav__el a {
    color: #FFFFFF;
    text-decoration: none;
  }
  .nav__logo {
    width: 31px;
    margin: auto;
  }
}
.home {
  margin-bottom: 30vh;
}
.home__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  margin: 0;
  margin-top: 152px;
  margin-bottom: 112px;
  color: #FFFFFF;
}
.home__title--extralight {
  font-size: 20px;
  font-weight: 100;
}
.home__title--extrabold {
  font-size: 27px;
  font-weight: 800;
}
.home__text {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}
.home__text--moi {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.home__text--cyan {
  color: #67E9E0;
}
.home__text--portfolio {
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .home__title {
    margin-top: 93px;
    margin-bottom: 69px;
  }
  .home__title--extralight {
    font-size: 69px;
  }
  .home__title--extrabold {
    font-size: 93px;
  }
  .home__text {
    font-size: 22px;
    float: right;
    width: 45%;
  }
  .home__text--moi {
    margin-bottom: 29px;
  }
  .scroll-downs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 250px;
    width: 34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    opacity: 0.75;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #ffffff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
}
@media (min-height: 1000px) {
  .home__title {
    margin-top: 196px;
    margin-bottom: 145px;
  }
  .home__text {
    width: 45%;
  }
  .scroll-downs {
    margin-top: 375px;
  }
}
.propos {
  margin-bottom: 30vh;
}
.propos__border {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.propos__h2 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 84px;
  font-size: 27px;
}
.propos__text {
  margin: 0;
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}
.propos__text--underlineDots {
  text-decoration: underline;
}
.propos__text--cyan {
  color: #67E9E0;
}
.propos__img {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
.propos__perso {
  width: 50%;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .propos {
    margin-bottom: 30vh;
  }
  .propos__border {
    width: 33%;
  }
  .propos__h2 {
    margin-top: 39px;
    margin-bottom: 93px;
    font-size: 39px;
  }
  .propos__text {
    font-size: 29px;
  }
  .propos__img {
    width: 40%;
  }
  .propos__container {
    display: flex;
  }
}
.projets__mobile {
  display: block;
}
.projets__desktop {
  display: none;
}
.projets__border {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.projets__h2 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 84px;
}
.projets__img {
  width: 60%;
  border-radius: 25px;
}
.projets__description {
  margin-top: 20px;
  margin-bottom: 84px;
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  font-size: 15px;
}
.projets__container {
  display: flex;
  flex-direction: column;
}
.projets__container a,
.projets__container p {
  text-align: center;
}

@media (min-width: 1200px) {
  .projets__mobile {
    display: none;
  }
  .projets__desktop {
    display: block;
    margin-bottom: 30vh;
  }
  .projets__border {
    width: 33%;
  }
  .projets__h2 {
    margin-top: 39px;
    margin-bottom: 93px;
    font-size: 39px;
  }
  .projets__img {
    width: 20vw;
  }
  .projets__description {
    margin-top: 22px;
    font-size: 22px;
  }
  .projets__linktab {
    padding: 0;
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 29px;
  }
  li {
    display: inline-block;
    list-style: none;
    padding: 0;
  }
  .hidden {
    display: none;
  }
  .linktab {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    font-weight: 600;
    background: none;
    padding: 0;
  }
  .linktab::before {
    margin-left: auto;
  }
  .linktab--active {
    content: "";
    width: 100%;
    height: 2px;
    background: #67E9E0;
    display: block;
    transition: width 0.5s;
  }
  .linktab::after, .linktab::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #67E9E0;
    display: block;
    transition: width 0.5s;
  }
  .linktab:hover:not(.linktab--active)::after, .linktab:hover:not(.linktab--active)::before {
    width: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #02070E;
}

main {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1200px) {
  main {
    padding-left: 69px;
    padding-right: 69px;
  }
}/*# sourceMappingURL=app.css.map */